*
{
    margin: 0px;
    padding: 0px;
}


header
{
    background-color: #B2B2B2;
    height: 100px;
    color: white;
    padding: 10px;
}


h1
{
    text-align: center;
}
h3
{
    text-align: center;
}


body
{
    font-family: Verdana;
}


nav
{
    background-color: #000000;;
    padding: 10px;
}




nav ul 
{
    text-align: center;
    font-size: 1.2em;
}

nav ul li
{
    list-style-type: none;
    background-color: #B2B2B2;
    display: inline;
    padding: 5px;
    border: 2px;
    border-color: red;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    border: 2px solid red;
}

nav ul li:hover
{
    background-color: #8E8E8E;
}


nav ul li a
{
    color: white;
    text-decoration: none;
    
}

main
{
    padding: 10px;
}

.sectionDisplay
{
    padding: 15px;
    border: 2px solid black;
    text-align: center;
    margin: 10px;
}

.text
{
    text-align: left;
}





table
{
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    margin: 20px;
}

th
{
    border: 1px solid black;
    text-align: left;
}

tr
{
    border: 1px solid black;
    text-align: left;
}

td
{
    border: 1px solid black;
    text-align: left;
}


footer
{
    padding: 10px;
    background-color: #000000;
}

footer p 
{
    text-align: center;
    color: white;  
    margin: auto;
}



